{% extends "layout.html"%}
{% block body %}
<div class="container">
  <center><h1>Login</h1></center>
    <form action="" method="POST">
    <div class="form-group">
     E-MAIL ID<input type ="text" name="email" class= "form-control" palceholder="E-MAIL" required>
    </div>
    <div class="form-group">
     PASSWORD<input type ="password" name="password2" class= "form-control" palceholder="password" required>
    </div>
    <input class="btn btn-primary" type ="submit"></input>
  </form>
</div>
{% endblock %}